#coord{
    font-style: italic;
    line-height: 0;
}

.cours{
    text-decoration: underline;
}

h1{
    text-align: center;
    font-size: xx-large;
}

footer{
    size: small;
    color: slategray;
}